In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter
print(os.listdir())

['.ipynb_checkpoints', 'answers_unit_1.csv', 'data.csv', '[SF-DST] Movies IMBD v3.0.ipynb']

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
data = pd.read_csv('data.csv')
data.head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015

In [4]:
len(data)

1890

In [8]:
data['month'] = pd.DatetimeIndex(data['release_date']).month
zima = data.query('month == 12 | month == 1 | month == 2')
zima = zima.director.str.split('|').sum()
most_popular_winter_director = Counter(zima).most_common(1)
print(most_popular_winter_director)

[('Peter Jackson', 7)]

# Предобработка датасета

In [82]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [6]:
max_budget = data[data.budget == data.budget.max()][['original_title', 'imdb_id', 'budget']]
max_budget

        original_title    imdb_id     budget
491  The Warrior's Way  tt1032751  425000000

In [83]:
# тут вводим ваш ответ и добавлем в его список ответов (сейчас для примера стоит "1")
answer_ls.append(4)

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [8]:
max_runtime = data[data.runtime == data.runtime.max()][['original_title', 'imdb_id', 'runtime']]
max_runtime

         original_title    imdb_id  runtime
1158  Gods and Generals  tt0279111      214

In [84]:
answer_ls.append(2)

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [6]:
min_runtime = data[data.runtime == data.runtime.min()][['original_title', 'imdb_id', 'runtime']]
min_runtime

      original_title    imdb_id  runtime
769  Winnie the Pooh  tt1449283       63

In [85]:
answer_ls.append(3)

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [10]:
mean_runtime = round(data.runtime.mean())
mean_runtime

110

In [86]:
answer_ls.append(2)

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [12]:
mean_runtime = round(data.runtime.median())
mean_runtime

106

In [87]:
answer_ls.append(1)

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [14]:
data['gain'] = data.apply(lambda x: x.revenue - x.budget, axis=1)
max_gain = data[data.gain == data.gain.max()][['original_title', 'imdb_id', 'gain']]
max_gain

    original_title    imdb_id        gain
239         Avatar  tt0499549  2544505847

In [88]:
answer_ls.append(5)

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [16]:
data['loss'] = data.apply(lambda x: x.revenue - x.budget, axis=1)
max_loss = data[data.loss == data.loss.min()][['original_title', 'imdb_id', 'loss']]
max_loss

        original_title    imdb_id       loss
491  The Warrior's Way  tt1032751 -413912431

In [89]:
answer_ls.append(2)

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [18]:
gain_count = len(data[data.gain > 0].values)
gain_count

1478

In [90]:
answer_ls.append(1)

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [20]:
max_gain_2008 = data[data.release_year == 2008][['imdb_id', 'original_title', 'gain', 'release_year']].sort_values(by='gain', ascending=False)
max_gain_2008.head(1)

       imdb_id   original_title       gain  release_year
600  tt0468569  The Dark Knight  816921825          2008

In [91]:
answer_ls.append(4)

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [22]:
max_loss_2012_2014 = data[(data.release_year >= 2012)&
                          (data.release_year <= 2014)][['imdb_id', 'original_title', 'gain', 'release_year']].sort_values(by='gain', ascending=True)
max_loss_2012_2014.head(1)

        imdb_id   original_title       gain  release_year
1246  tt1210819  The Lone Ranger -165710090          2013

In [92]:
answer_ls.append(5)

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [24]:
all_genres = data.genres.str.split('|').sum()
most_popular_genres = Counter(all_genres).most_common(3)
most_popular_genres

[('Drama', 782), ('Comedy', 683), ('Thriller', 597)]

In [93]:
answer_ls.append(3)

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [26]:
all_gain_genres = data[data.gain > 0]
all_gain_genres = all_gain_genres.genres.str.split('|').sum()
most_popular_gain_genres = Counter(all_gain_genres).most_common(3)
most_popular_gain_genres

[('Drama', 560), ('Comedy', 551), ('Thriller', 446)]

In [94]:
answer_ls.append(1)

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [28]:
all_directors = data.director.str.split('|').sum()
most_popular_directors = Counter(all_directors).most_common(3)
most_popular_directors

[('Steven Soderbergh', 13), ('Ridley Scott', 12), ('Clint Eastwood', 12)]

In [95]:
answer_ls.append(3)

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [30]:
all_gain_movies = data[data.gain > 0]
all_gain_movies_directors = all_gain_movies.director.str.split('|').sum()
most_popular_gain_movies_directors = Counter(all_gain_movies_directors).most_common(3)
most_popular_gain_movies_directors

[('Ridley Scott', 12), ('Steven Spielberg', 10), ('Clint Eastwood', 10)]

In [96]:
answer_ls.append(4)

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [32]:
pivot = data.pivot_table(values=['gain'],
                        index=['original_title'],
                        columns=['director'],
                        aggfunc='sum',
                        margins=True,
                        fill_value=0
                        )

In [33]:
pivot.max().sort_values(ascending=False).head(2)

      director
gain  All              190478021910
      Peter Jackson      5202593685
dtype: int64

In [97]:
answer_ls.append(5)

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [35]:
all_casts = data.cast.str.split('|').sum()

unique_actors = []
for i in all_casts:
    if i not in unique_actors:
        unique_actors.append(i)
        
most_gain_actor = [0, '']
for i in unique_actors:
    gain_sum = data[data.cast.str.contains(i, na=False)]['gain'].sum()
    if gain_sum > most_gain_actor[0]:
        most_gain_actor = [gain_sum, i]
print(most_gain_actor)

[6666245597, 'Emma Watson']

In [98]:
answer_ls.append(1)

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [37]:
data_2012_release_year = data[data.release_year == 2012]
all_casts_in_2012 = data_2012_release_year.cast.str.split('|').sum()

unique_actors = []
for i in all_casts_in_2012:
    if i not in unique_actors:
        unique_actors.append(i)
        
actors_gain_2012 = pd.DataFrame(columns=['actor','gain'])
for i in range(len(unique_actors)):
    gain_sum = data_2012_release_year[data_2012_release_year.cast.str.contains(unique_actors[i], na=False)]['gain'].sum()
    actors_gain_2012.loc[i] = unique_actors[i], gain_sum
actors_gain_2012[actors_gain_2012.gain == actors_gain_2012.gain.min()]

             actor       gain
172  Kirsten Dunst  -68109207

In [99]:
answer_ls.append(3)

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [39]:
gain_more_then_mean = data[data.budget > data.budget.mean()]
all_actors = gain_more_then_mean.cast.str.split('|').sum()
most_popular_actor = Counter(all_actors).most_common(3)
most_popular_actor

[('Matt Damon', 18), ('Adam Sandler', 17), ('Angelina Jolie', 16)]

In [100]:
answer_ls.append(3)

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [41]:
movies_with_NC = data[data.cast.str.contains('Nicolas Cage', na=False)]
all_genres = movies_with_NC.genres.str.split('|').sum()
most_frequent = Counter(all_genres).most_common(3)
most_frequent

[('Action', 17), ('Thriller', 15), ('Drama', 12)]

In [101]:
answer_ls.append(2)

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [43]:
short_companies_names = ['Universal', 'Universal Pictures', 'Warner Bros.', 'Columbia Pictures', 'Twentieth Century Fox Film Corporation', 'Paramount Pictures']
all_production_companies = data.production_companies.str.split('|').sum()
df_companies = pd.DataFrame(columns=['companies'])
df_companies['companies'] = all_production_companies

for i in short_companies_names:
    count_freq = len(df_companies[(df_companies.companies == i)])
    print(i, count_freq)

Universal 3
Universal Pictures 173
Warner Bros. 168
Columbia Pictures 117
Twentieth Century Fox Film Corporation 109
Paramount Pictures 122

In [102]:
answer_ls.append(1)

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [45]:
data_2015 = data[data.release_year == 2015]
all_production_companies_2015 = data_2015.production_companies.str.split('|').sum()
df_companies = pd.DataFrame(columns=['companies'])
df_companies['companies'] = all_production_companies_2015
df_companies['companies'].value_counts().head(1)

Warner Bros.    12
Name: companies, dtype: int64

In [103]:
answer_ls.append(4)

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [47]:
#extract data that contain comedy movies
comedy_movies = data[data.genres.str.contains('Comedy')]
#take uniq companies names from comedy_movies
companies = comedy_movies.production_companies.str.split('|').sum()
uniq_companies = []
for i in companies:
    if i not in uniq_companies:
        uniq_companies.append(i)
#search for company that have biggest gain
max_gain = 0
max_gain_company = ''
for i in uniq_companies:
    gain = comedy_movies[comedy_movies.production_companies.str.contains(i)]['gain'].sum()
    if max_gain < gain:
        max_gain = gain
        max_gain_company = i
        
print(max_gain, max_gain_company)

9130349034 Universal

In [104]:
answer_ls.append(2)

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [49]:
data_2012 = data[data.release_year == 2012]
all_production_companies_2012 = data_2012.production_companies.str.split('|').sum()
#take uniq companies names from all_production_companies_2012
uniq_companies = []
for i in all_production_companies_2012:
    if i not in uniq_companies:
        uniq_companies.append(i)
#search for company that have biggest gain
max_gain = 0
max_gain_company = ''
for i in uniq_companies:
    gain = data_2012[data_2012.production_companies.str.contains(i)]['gain'].sum()
    if max_gain < gain:
        max_gain = gain
        max_gain_company = i
        
print(max_gain, max_gain_company)

2501406608 Columbia Pictures

In [105]:
answer_ls.append(3)

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [51]:
PP_movies = data[data.production_companies.str.contains('Paramount Pictures')]
PP_movies[PP_movies.gain == PP_movies.gain.min()][['imdb_id', 'original_title']]

       imdb_id        original_title
926  tt0267626  K-19: The Widowmaker

In [106]:
answer_ls.append(1)

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [53]:
pivot = data.pivot_table(values=['gain'],
                        index=['production_companies'],
                        columns=['release_year'],
                        aggfunc='sum',
                        margins=True,
                        fill_value=0)
pivot.max().sort_values(ascending=False).head(2)

      release_year
gain  All             190478021910
      2015             18668572378
dtype: int64

In [107]:
answer_ls.append(5)

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [55]:
#extract Warner Bros data
WB_data = data[data.production_companies.str.contains('Warner Bros')]

In [56]:
pivot = WB_data.pivot_table(values=['gain'],
                        index=['production_companies'],
                        columns=['release_year'],
                        aggfunc='sum',
                        margins=True,
                        fill_value=0)
pivot.max().sort_values(ascending=False).head(2)

      release_year
gain  All             24543602472
      2014             2295464519
dtype: int64

In [108]:
answer_ls.append(1)

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [58]:
#extract day and month from data
timestamp_df = pd.DataFrame()
timestamp_df['Dates_timestamp'] = pd.to_datetime(data['release_date']).dt.date

data['release_month'] = timestamp_df['Dates_timestamp'].map(lambda x: x.strftime('%m'))
data['release_day'] = timestamp_df['Dates_timestamp'].map(lambda x: x.strftime('%d'))

In [59]:
pivot = data.pivot_table(values=['imdb_id'],
                        index=['production_companies'],
                        columns=['release_month'],
                        aggfunc='count',
                        margins=True,
                        fill_value=0)
pivot.max().sort_values(ascending=False).head(2)

         release_month
imdb_id  All              1890
         09                227
dtype: int64

In [109]:
answer_ls.append(4)

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [61]:
len(data[(data.release_month == '06') | (data.release_month == '07') | (data.release_month == '08')])

450

In [110]:
answer_ls.append(2)

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [63]:
winter_movies = data.query("release_month == '12' | release_month == '01' | release_month == '02'")

all_winter_directors = winter_movies.director.str.split('|').sum()
most_popular_winter_director = Counter(all_winter_directors).most_common(1)
most_popular_winter_director

[('Peter Jackson', 7)]

In [111]:
answer_ls.append(5)

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [65]:
pivot = data.pivot_table(values=['gain'],
                        index=['release_month'],
                        columns=['release_year'],
                        aggfunc='sum',
                        fill_value=0)

all_years = pivot['gain'].columns

most_gain_months_array = []
for year in all_years:
    most_gain_month = pivot[pivot['gain'][year] == pivot['gain'][year].max()].index[0]
    most_gain_months_array.append(most_gain_month)
    
Counter(most_gain_months_array).most_common(1)

[('06', 7)]

In [112]:
answer_ls.append(2)

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [67]:
companies_arr = ['Universal Pictures', 'Warner Bros', 'Jim Henson Company, The', 
                 'Paramount Pictures', 'Four By Two Productions']
company_name = ''
mean_ = 0
for i in companies_arr:
    if i == 'Universal Pictures':
        mean_len = data[(data.production_companies.str.contains('Universal Pictures')) | 
                        (data.production_companies.str.contains('Universal'))]['original_title'].str.len().mean()
    else:
        mean_len = data[data.production_companies.str.contains(i)]['original_title'].str.len().mean()
        
    if mean_ < mean_len:
        company_name = i
        mean_ = mean_len
    
print(company_name, mean_)

Four By Two Productions 83.0

In [113]:
answer_ls.append(5)

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [69]:
companies_arr = ['Universal Pictures', 'Warner Bros', 'Jim Henson Company, The', 
                 'Paramount Pictures', 'Four By Two Productions']

In [70]:
mean_ = 0
company_name = ''
for company in companies_arr:
    if i == 'Universal Pictures':
        mean_len = data[(data.production_companies.str.contains('Universal Pictures')) | 
                        (data.production_companies.str.contains('Universal'))]['original_title'].str.lower().str.replace('  ', '').str.split(' ')
    else:
        mean_len = data[data.production_companies.str.contains(company)]['original_title'].str.lower().str.replace('  ', '').str.split(' ')
    uniq_words = []
    for i in mean_len:
        for word in i:
            if word not in uniq_words:
                uniq_words.append(word)
    mean_word_len = len(uniq_words) / len(mean_len)
    if mean_word_len > mean_:
        mean_ = mean_word_len
        company_name = company
print(company_name, mean_)

Four By Two Productions 11.0

In [114]:
answer_ls.append(5)

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [72]:
uniq_names = []
for movie_name in data.original_title:
    replaced_name = movie_name.lower().replace('  ', ' ')
    splited_name = replaced_name.split(' ')
    for i in splited_name:
        if i not in uniq_names:
            uniq_names.append(i)
print(len(uniq_names))

2461

In [115]:
answer_ls.append(3)

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [74]:
one_percent_of_highest_vote = data['vote_average'].quantile(0.99)
data[data.vote_average >= one_percent_of_highest_vote].original_title.values

array(['Inside Out', 'Spotlight', 'Room', 'Interstellar',
       'Guardians of the Galaxy', 'Big Hero 6', 'The Imitation Game',
       'Gone Girl', 'The Grand Budapest Hotel',
       'The Theory of Everything', 'The Fault in Our Stars', 'Mr. Nobody',
       '3 Idiots', 'Inception',
       'The Lord of the Rings: The Fellowship of the Ring',
       'The Dark Knight', 'The Lord of the Rings: The Two Towers',
       'The Pianist', 'The Lord of the Rings: The Return of the King',
       'The Wolf of Wall Street', 'Her', '12 Years a Slave', 'Prisoners',
       'Dallas Buyers Club', 'The Prestige',
       'Eternal Sunshine of the Spotless Mind', 'There Will Be Blood',
       'Memento'], dtype=object)

In [116]:
#Here will take as a right answer the answer that match better
answer_ls.append(1)

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [76]:
actors = [['Johnny Depp', 'Helena Bonham Carter'],
          ['Hugh Jackman', 'Ian McKellen'],
          ['Vin Diesel', 'Paul Walker'],
          ['Adam Sandler', 'Kevin James'],
          ['Daniel Radcliffe', 'Rupert Grint']]

for i in range(len(actors)):
    movies = data[(data.cast.str.contains(actors[i][0])) & (data.cast.str.contains(actors[i][1]))]
    actors[i].append(len(movies))
print(actors)

[['Johnny Depp', 'Helena Bonham Carter', 6], ['Hugh Jackman', 'Ian McKellen', 5], ['Vin Diesel', 'Paul Walker', 5], ['Adam Sandler', 'Kevin James', 5], ['Daniel Radcliffe', 'Rupert Grint', 8]]

In [117]:
answer_ls.append(5)

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [78]:
gain_score = 0
director_ = []
all_directors = data.director.str.split('|').sum()
for director in all_directors:
    movies = data[data.director.str.contains(director)]
    gain_movies = movies[movies.budget < movies.gain]
    score = len(gain_movies)/len(movies)
    if gain_score < score:
        if director not in director_:
            director_.append(director)
        gain_score = score
    elif gain_score == score:
        if director not in director_:
            director_.append(director)
        gain_score = score
print(director_)

['Colin Trevorrow', 'J.J. Abrams', 'Alejandro GonzÃ¡lez IÃ±Ã¡rritu', 'Alan Taylor', 'Kyle Balda', 'Pierre Coffin', 'Pete Docter', 'Alex Garland', 'Joss Whedon', 'Francis Lawrence', 'Sam Taylor-Johnson', 'Christopher McQuarrie', 'Seth MacFarlane', 'Tom McCarthy', 'Wes Ball', 'Neill Blomkamp', 'Elizabeth Banks', 'Rob Letterman', 'Lenny Abrahamson', 'John Crowley', 'Jake Schreier', 'Nancy Meyers', 'Baltasar KormÃ¡kur', 'Tom Hooper', 'Denis Villeneuve', 'Paul Feig', 'Aleksander Bach', 'Ryan Coogler', 'Steve Martino', 'Jonathan Levine', 'Genndy Tartakovsky', 'John Francis Daley', 'Jonathan M. Goldstein', 'Joel Edgerton', 'Ari Sandel', 'Ciaran Foy', 'Jeremy Garelick', 'Michael Dougherty', 'John Erick Dowdle', 'Simon Curtis', 'Jason Moore', 'Dean Israelite', 'Camille Delamarre', 'Gregory Jacobs', 'Gregory Plotkin', 'Paul Tibbitt', 'Leigh Whannell', 'Nicholas Hytner', 'David M. Rosenthal', 'Etan Cohen', 'Christopher Nolan', 'James Gunn', 'Joe Russo', 'Anthony Russo', 'Chad Stahelski', 'David Leitch', 'Chris Williams', 'Morten Tyldum', 'Neil Burger', 'Jonathan Liebesman', 'Dan Gilroy', 'Marc Webb', 'Gareth Edwards', 'Robert Stromberg', 'Stiles White', 'Patrick Hughes', 'Phil Lord', 'Christopher Miller', 'James Marsh', 'Gary Shore', 'Eric Darnell', 'Phillip Noyce', 'Paul King', 'James DeMonaco', 'R.J. Cutler', 'Josh Boone', 'Nick Cassavetes', 'Carlos Saldanha', 'Angelina Jolie', 'Ava DuVernay', 'Will Gluck', 'Theodore Melfi', 'Scott Waugh', 'Brian A Miller', 'Steven Quale', 'Roberts Gannaway', 'Sam Miller', 'John R. Leonetti', 'Tom Gormican', 'Ben Falcone', 'Miguel Arteta', 'Christopher Spencer', 'Thomas Carter', 'GrÃ©gory Levasseur', 'Andrew Erwin', 'Jon Erwin', 'Dave Green', 'Matt Bettinelli-Olpin', 'Tyler Gillett', 'Patrick Tatopoulos', 'David Yates', 'Bob Peterson', 'Chris Weitz', 'Alex Proyas', 'Peter Billingsley', 'Conrad Vernon', 'Phil Traill', 'Gary Winick', 'Lee Daniels', 'John Hamburg', 'Brandon Camp', 'Kevin Greutert', 'Ethan Coen', 'Rajkumar Hirani', 'Grant Heslov', 'Walt Becker', 'Lone Scherfig', 'Peter Chelsom', 'Olatunde Osunsanmi', 'Steve Shill', 'Jonas Elmer', 'Toby Wilkins', 'Chris Renaud', 'Sylvester Stallone', 'Joseph Kosinski', 'Nathan Greno', 'Byron Howard', 'Lee Unkrich', 'Florian Henckel von Donnersmarck', 'Mike Mitchell', 'David Slade', 'Tom McGrath', 'Ryan Murphy', 'Alan Poul', 'Josh Gordon', 'Will Speck', 'Garry Marshall', 'Samuel Bayer', 'Michael Patrick King', 'Susanna White', 'John Luessenhop', 'Greg Berlanti', 'Alexandre Aja', 'Colin Strause', 'Greg Strause', 'Jim Field Smith', 'Eric Brevig', 'Tyler Perry', 'David Silverman', 'Sharon Maguire', 'J.B. Rogers', 'Ben Stiller', 'Joel Gallen', 'Chris Nahon', 'Victor Salva', 'Robert Altman', 'Gregory Poirier', 'Rob Pritts', 'John Stevenson', 'Phyllida Lloyd', 'Loveleen Tandan', 'Scott Derrickson', 'Gabriele Muccino', 'Jeff Wadlow', 'Jon Hurwitz', 'Hayden Schlossberg', 'Peter Sollett', 'Seth Gordon', 'Fred Wolf', 'David Hackl', 'Woody Allen', 'Bryan Bertino', 'Chris Carter', 'John Patrick Shanley', 'Paul Weiland', 'David Moreau', 'Xavier Palud', 'Michael McCullers', 'Jennifer Flackett', 'Mark Levin', 'Nicolas Winding Refn', 'Jennifer Yuh', 'John Lasseter', 'Brad Lewis', 'Michel Hazanavicius', 'Brad Furman', 'Mikael HÃ¥fstrÃ¶m', 'George Nolfi', 'Chris Gorak', 'Tate Taylor', 'Christian E. Christiansen', 'Chris Miller', 'Oliver Parker', 'Gonzalo LÃ³pez-Gallego', 'John Michael McDonagh', 'Henry Joost', 'Ariel Schulman', 'Alister Grierson', 'Sean McNamara', 'John Whitesell', 'Chris Wedge', 'George Lucas', 'Corey Yuen Kwai', 'Curtis Hanson', 'Steven Brill', 'Joel Zwick', 'Chuck Russell', 'Jeff Tremaine', 'Julie Taymor', 'Adrian Lyne', 'Robin Budd', 'Donovan Cook', 'Rick Rosenthal', 'Tamra Davis', 'Mark Andrews', 'Steve Purcell', 'Brenda Chapman', 'Rupert Sanders', 'Mike Thurmeier', 'Juan Antonio Bayona', 'Rich Moore', 'Stephen Chbosky', 'Drew Goddard', 'Peter Ramsey', 'Michael Sucsy', 'Scott Speer', 'Mike McCoy', 'Larry Charles', 'Nima Nourizadeh', 'James Watkins', 'Ole Bornedal', 'Nicholas Jarecki', 'Dustin Hoffman', 'Brian Klugman', 'Lee Sternthal', 'Dan Cutforth', 'Jane Lipsitz', 'Mark Steven Johnson', 'Stephen Norrington', 'Steve Trenbirth', 'Terry Zwigoff', 'David Zucker', 'Rob Schmidt', 'Charles Herman-Wurmfeld', 'Anthony Minghella', 'Ronny Yu', 'Kevin Costner', 'Jim Fall', 'Patty Jenkins', 'Troy Miller', 'FranÃ§ois Ozon', 'Christopher Guest', 'Jennifer Lee', 'Shane Black', 'Steve McQueen', 'Dan Scanlon', 'Tommy Wirkola', 'Klay Hall', 'Harmony Korine', 'Fede Alvarez', 'Derek Cianfrance', 'Kimberly Peirce', 'John Carney', 'Mike Flanagan', 'David Soren', 'Andy Muschietti', 'Rusty Cundieff', 'James Duffy', 'Griffin Dunne', 'Patrik Forsberg', 'Will Graham', 'Jonathan van Tulleken', 'Scott Moore', 'Jon Lucas', 'Cody Cameron', 'Kris Pearn', 'Jeff Nichols', 'David E. Talbert', 'Christopher B. Landon', 'Ed Gass-Donnelly', 'Fyodor Bondarchuk', 'Garth Jennings', 'Mike Johnson', 'Steve Box', 'Nick Park', 'Cory Edwards', 'Todd Edwards', 'Tony Leech', 'John Polson', 'Sydney Pollack', 'Frederik Du Chau', 'Andrew Douglas', 'Dean Parisot', 'Jim Jarmusch', 'George A. Romero', 'Rupert Wainwright', 'Clare Kilner', 'Fernando Meirelles', 'Stephen Kay', 'Joe Ranft', 'Frank Marshall', 'James Wong', 'Stefen Fangmeier', 'Alejandro Agresti', 'Mel Gibson', 'Darren Lynn Bousman', 'Jared Hess', 'Jonathan Dayton', 'Valerie Faris', 'Greg Coolidge', 'Roger Allers', 'Jill Culton', 'Richard Eyre', 'Sanjay Gadhvi', 'Glen Morgan', 'William Brent Bell', 'Doug Atchison', 'Eric Bress', 'J. Mackye Gruber', 'Alexander Witt', 'Stephen Hillenburg', 'Mark Rosman', 'Rawson Marshall Thurber', 'Danny Leiner', 'Don Mancini', 'Terry George', 'Joseph Ruben', "Gavin O'Connor", 'Christopher Erskin', 'Jan Pinkava', 'Sean Penn', 'Raman Hui', 'Kevin Lima', 'Juan Carlos Fresnadillo', 'Steve Bendelack', 'Bruce A. Evans', 'Kirsten Sheridan', 'Mennan Yapo', 'Xavier Gens', 'David Schwimmer', 'Dave Meyers', 'Fred Savage', 'Russell Mulcahy', 'Mark Helfrich', 'Shari Springer Berman', 'Robert Pulcini', 'James Gray', 'Peter Hedges', 'Alastair Fothergill', 'Mark Linfield', 'Wong Kar-wai', 'Sylvain White', 'Feng Xiaogang', 'Ben Garant', 'Ralph Zondag', 'Eric Leighton', 'David McNally', 'Paul Verhoeven', 'Mary Harron', 'Lars von Trier']

In [118]:
answer_ls.append(4)

# Submission

In [119]:
len(answer_ls)

36

In [121]:
answer_df = pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

In [122]:
answer_df.to_csv('answers_unit_1.csv', index=False)